body {
  background-color: #eeeeee;
  color: #030303;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.header {
  padding top: 13px;
  padding-left: 15px;
}

.content {
  background-color: #ADD8E6 ;
  color: #030303;
  display: flex;
  padding: 15px;
  }

p {
  margin: 0 15px;
  font-weight: normal;
  color: #030303;
  align-items: center;
  display: flex;
}

.bio {
  margin: 0 3%;
  font-size: 17px;
  line-height: 21px;
}
